*{
	box-sizing: border-box;
}

html a,div,textarea,button,input,li{
	outline: none;
}

body{
	background: url("Images/WHDQ-512499480.jpg") no-repeat;
	background-size: cover;
}

div.border{
	border: solid black;
	border-width: 1px;
}

.hamburger {
	background: url('Images/img_527805.png') center center no-repeat / contain;
	height: inherit;
	background-color: #F7F7F7;
}
.hamburger:active{
	transform: scale(0.8);
}
.hamburger:hover{
	cursor: pointer;
}

.container{
	margin-top: 15px;
	margin-bottom: 40px;
}
/*header*/
.topBar{
	height: 200px;
	background-color: #F7F7F7;
}

#logo{
	display: inline-block;
	height: 180px;
	width: 180px;
	padding: 10px;
	background:url("Images/Team_Liquid_logo.png") center no-repeat; 
	background-size: contain;                          
    cursor:pointer; 
}
/*sponsors in header*/
.widesponsor{
	height: 40px;
	width: 150px;
	cursor: pointer;
}

.narrowsponsor{
	height: 100px;
	width: 100px;
	cursor: pointer;
}

#alienware{
	background:url("Images/AlienWare_logo.png") center no-repeat; 
	background-size: contain;                         
}

#hyperx{
	background:url("Images/1510679196_HyperX.png") center no-repeat;
	background-size: contain;  
}

#sap{
	background:url("Images/sap.png") center no-repeat;  
	background-size: contain;  
}

#twitch{
	background:url("Images/2000px-Twitch_logo_(wordmark_only).svg.png") center no-repeat;  
	background-size: contain;
}

#ballistix{
	background:url("Images/19777-1505833888-020b2ed1373222ecdcbad94d37dc9050.png") center no-repeat;  
	background-size: contain;
}

#needforseat{
	background:url("Images/NEEDforSEAT_new_websiteG2-478-200.png") center no-repeat;  
	background-size: contain;
}

#youtube{
	background:url("Images/youtube_PNG18.png") center no-repeat;  
	background-size: contain;
}

#facebook{
	background:url("Images/facebook_logos_PNG19753.png") center no-repeat;  
	background-size: contain;
}

#twitter{
	background:url("Images/twitter_PNG28.png") center no-repeat;  
	background-size: contain;
}

#vk{
	background:url("Images/VK_Logo.png") center no-repeat;  
	background-size: contain;
}

#insta{
	background:url("Images/instagram_PNG3.png") center no-repeat;  
	background-size: contain;
}

/*top menu*/
div.menu{
	background-color: #0E2240;
}

ul.menulist{
	list-style-type: none;
}

ul.menulist li{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 10px;
	color: #F7F7F7;
}

ul.menulist li a{
	text-decoration: none;
	color: #F7F7F7;
}

ul.menulist li a:hover{
	color: black;
	cursor: pointer;
}

ul.menulist li:hover{
	color: black;
	cursor: pointer;
}
/*main content*/
div.content{
	height: 100%;
}
/*news content*/
.news-content{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
}

.news-wrap{
	border-right: 1px solid black;
	background-color: #0E2240;
	border-top-left-radius: 10px;
}

.news-card{
	width: 100%;
	height: 400px;
	border-radius: none;
	background-color: black;
	margin-bottom: 20px;
}

.card-img{
	top: 0;
	height: 50%;
	width: 100%;
}

.card-img:hover{
	cursor: pointer;
}

.card-content{
	display: block;
	text-align: left;
	top: 0;
	height: 50%;
	overflow: hidden;
	border-bottom: 1px solid white;
}

.card-content p{
	font-size: 8pt;
	font-weight: 200;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.game-icon{
	font-weight: 400;
	background-color: red;
	padding: 1px;
	margin: 1px;
	cursor: pointer;
}

.active-text{
	font-size: 12pt;
	font-weight: 600;
	padding: 10px
}

.active-text:hover{
	color: blue;
	cursor: pointer;
}

.card-time{
	padding: 10px;
	font-size: 10pt;
}

#card-1{
	background: url("Images/t1521187511.jpg") center no-repeat;
	background-size: cover;
}

#card-2{
	background: url("Images/d568e11b97dafd46_848x477.jpg") center no-repeat;
	background-size: cover;
}

#card-3{
	background: url("Images/dh_sxsw_header-640x360.jpg") center no-repeat;
	background-size: cover;
}

#card-4{
	background: url("Images/https_%2F%2Fcdn.evbuc.com%2Fimages%2F41022440%2F38631077780%2F1%2Foriginal.jpg") center no-repeat;
	background-size: cover;
}

#card-5{
	background: url("Images/wesg_preview.jpg") center no-repeat;
	background-size: cover;
}

#card-6{
	background: url("Images/HHTZTZCC8NK21500068813012.jpg") center no-repeat;
	background-size: cover;
}
/*results content*/
.results-wrap{
	background-color: #0E2240;
	border-top-right-radius: 10px;
}

.disc{
	border-radius: 10px;
	border: 1px solid black;
	margin-bottom: 15px;
}

.disc div{
	font-size: 10pt;
}

.disc-head{
	font-size: 15pt;
	border-bottom: 1px solid black;
}

.disc-body{
	font-size: 12pt;
	padding: 5px;
}

.flag{
	display: inline;
	height: 20px;
	width: 30px;
	margin-right: 5px;
}

.usa{
	background: url("Images/flag-400.png") center no-repeat;
	background-size: contain;
}

.china{
	background: url("Images/flag-400 (1).png") center no-repeat;
	background-size: contain;
}

.eu{
	background: url("Images/eu.jpg") center no-repeat;
	background-size: contain;
}

.brazil{
	background: url("Images/flag-400 (2).png") center no-repeat;
	background-size: contain;
}

.peru{
	background: url("Images/flag-400 (3).png") center no-repeat;
	background-size: contain;
}

.canada{
	background: url("Images/canada-flag-icon-free-download.jpg") center no-repeat;
	background-size: contain;
}

.sweden{
	background: url("Images/flag-400 (4).png") center no-repeat;
	background-size: contain;
}

.poland{
	background: url("Images/flag-400 (5).png") center no-repeat;
	background-size: contain;
}

.argentina{
	background: url("Images/flag-400 (6).png") center no-repeat;
	background-size: contain;
}

.serbia{
	background: url("Images/images.png") center no-repeat;
	background-size: contain;
}

.cis{
	background: url("Images/cis.JPG") center no-repeat;
	background-size: contain;
}

.russia{
	background: url("Images/flag-400 (7).png") center no-repeat;
	background-size: contain;
}

.mongolia{
	background: url("Images/flag-800.png") center no-repeat;
	background-size: contain;
}

.bulgaria{
	background: url("Images/bulgaria-flag-icon-free-download.jpg") center no-repeat;
	background-size: contain;
}

.australia{
	background: url("Images/australia-flag-icon-free-download.jpg") center no-repeat;
	background-size: contain;
}


/*footer*/
.footer{
	background-color: #101010;
	font-size: 10pt;
	font-weight: 200;
}

.footer .footer-element:not(:last-child){
	border-right: 1px solid;
}

#toTop{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  height: 60px;
  width: 60px; 
  border-radius: 50%;
  transition: 0.25;
  background: url("Images/app-1646212_960_720.png") center no-repeat;
  background-size: contain;
  border-color: black;
}

/*modal*/
.modal{
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0,0.8);

}

.modal-content{
	background-color: gray;
	margin: 15% auto;
	padding: 20px;
	border: 1px black;
	width: 20%;
	position: relative;
}

.modal-content div{
	margin-bottom: 10px;
}

.modal-content input, button{
	width: 100%;
	margin: 5px;
}

.submit-button{
	width: 100px;
}

.close{
	position: absolute;
	right: 2px;
	top: 2px;
	color: red;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}


@media screen and (min-width: 1024px) {
  .news-card{
		width: 100%;
	}
	#menuList{
		display: flex;
		justify-content: space-around;
	}
	.modal-content{
		width: 20%;
	}
}

@media only screen and (max-width: 992px) {
	.news-card{
		width: 100%;
	}
	#menuList{
		display: flex;
		justify-content: space-around;
	}
	#toTop{
		bottom: 5px;
		right: 5px;
		width: 40px;
		height: 40px;	
	}
	.modal-content{
		width: 20%;
	}
}
@media only screen and (max-width: 767px) {
	.sponsors {
		display: none;
	}
	#menuList{
		display: none;
	}
	.arrows{
		width: 15px;
   		height: 15px;
	}
	#toTop{
		bottom: 5px;
		right: 5px;
		width: 20px;
		height: 20px;	
	}
	.arrows:hover{
   		width: 20px;
    	height: 20px;
	}
	.modal-content{
		width: 100%;
	}
}
@media only screen and (max-width: 576px) {
	#menuList{
		display: none;
	}
	.arrows{
		width: 10px;
   		height: 10px;
	}
	#toTop{
		bottom: 5px;
		right: 5px;
		width: 30px;
		height: 30px;	
	}
	.arrows:hover{
   		width: 15px;
    	height: 15px;
	}
	.modal-content{
		width: 100%;
	}
}





