*{
	box-sizing: border-box;
}

html a,div,textarea,button,input{
	outline: none;
}

body{
	background: url("Images/WHDQ-512499480.jpg") no-repeat;
	background-size: cover;
}

@import url("fontello.css") print;

@font-face {
  font-family: 'fontello';
  src: url('Fonts/fontello.eot?64809578');
  src: url('Fonts/fontello.eot?64809578#iefix') format('embedded-opentype'),
       url('Fonts/fontello.woff2?64809578') format('woff2'),
       url('Fonts/fontello.woff?64809578') format('woff'),
       url('Fonts/fontello.ttf?64809578') format('truetype'),
       url('Fonts/fontello.svg?64809578#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hamburger {
	background: url('Images/img_527805.png') center center no-repeat / contain;
	height: inherit;
	background-color: #F7F7F7;
}
.hamburger:active{
	transform: scale(0.8);
}
.hamburger:hover{
	cursor: pointer;
}

#csgo, #sc2{
	display: none;
}

div.border{
	border: solid black;
	border-width: 1px;
}
/*header*/
.topBar{
	height: 200px;
	background-color: #F7F7F7;
}

#logo{
	display: inline-block;
	height: 180px;
	width: 180px;
	padding: 10px;
	background:url("Images/Team_Liquid_logo.png") center no-repeat; 
	background-size: contain;                          
    cursor:pointer; 
}
/*sponsors in header*/
.widesponsor{
	height: 40px;
	width: 150px;
	cursor: pointer;
}
/*sponsors*/
.narrowsponsor{
	height: 100px;
	width: 100px;
	cursor: pointer;
}

#alienware{
	background:url("Images/AlienWare_logo.png") center no-repeat; 
	background-size: contain;                         
}

#hyperx{
	background:url("Images/1510679196_HyperX.png") center no-repeat;
	background-size: contain;  
}

#sap{
	background:url("Images/sap.png") center no-repeat;  
	background-size: contain;  
}

#twitch{
	background:url("Images/2000px-Twitch_logo_(wordmark_only).svg.png") center no-repeat;  
	background-size: contain;
}

#ballistix{
	background:url("Images/19777-1505833888-020b2ed1373222ecdcbad94d37dc9050.png") center no-repeat;  
	background-size: contain;
}

#needforseat{
	background:url("Images/NEEDforSEAT_new_websiteG2-478-200.png") center no-repeat;  
	background-size: contain;
}

#youtube{
	background:url("Images/youtube_PNG18.png") center no-repeat;  
	background-size: contain;
}

#facebook{
	background:url("Images/facebook_logos_PNG19753.png") center no-repeat;  
	background-size: contain;
}

#twitter{
	background:url("Images/twitter_PNG28.png") center no-repeat;  
	background-size: contain;
}

#vk{
	background:url("Images/VK_Logo.png") center no-repeat;  
	background-size: contain;
}

#insta{
	background:url("Images/instagram_PNG3.png") center no-repeat;  
	background-size: contain;
}

/*top menu*/
div.menu{
	background-color: #0E2240;
}
.menulist_new{
	list-style-type: none;
	color: #F7F7F7;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.menuList{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.menuList li{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 10px;
	color: #F7F7F7;
}

.menuList li a{
	text-decoration: none;
	color: #F7F7F7;
}

.menuList li a:hover{
	color: black;
	cursor: pointer;
}

.menuList li:hover{
	color: black;
	cursor: pointer;
}
/*main content*/
div.content{
	height: 100%;
}

/*main content*/
.rank-content{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
}
/*rank bar*/
.rank-wrap a{
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
}

.rank-wrap h2{
	margin-left: 5px;
	margin-top: 5px;
}

.bordur{
	border: 1px solid white;
}

.rank-wrap{
	background-color: #0E2240;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.rank-entity:hover{
	background-color: #031126;
	cursor: pointer;
}

.rank-team{
	background-color: #031126;
	margin: 0;
	padding: 0;
}

.rank-team_avatar{
	height: 150px;
	width: 150px;
	top: 20px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	text-align: center;
	vertical-align: center;
	line-height: 150px;
	display: inline-block;
	margin-bottom: 25px;
	transition: 0.2;
}

.rank-team_avatar:hover{
	transform: scale(1.2);
	cursor: pointer;
}

.container{
	margin-top: 15px;
	margin-bottom: 40px;
}

.team-prev{
	margin-top: 100px;
	background-color: #101010;
	display: inline-block;
	padding: 10px;
}

.team-prev div small{
	padding-top: 80px;
}

.player-card{
	text-align: center;
	background-color: #0E2240; 
	padding: 10px;
	margin-bottom: 10px;
}

.player-card img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	background-color: #0E2240; 
	object-fit: cover;
}

.player-card:hover{
	cursor: pointer;
	transform: translateY(3px);
	transition: 0.2;
}

.player-card img{
	border-radius: 50%;
}

.flag{
	display: inline-block;
	height: inherit;
	width: 30px;
	margin-right: 10px;
}

.red{
	color: #841306;
	font-weight: 500;
}

.green{
	color: green;
	font-weight: 500;
}

.white{
	color: #f0f0f0;
	font-weight: 500;
}
/*footer*/
.footer{
	background-color: #101010;
	font-size: 10pt;
	font-weight: 200;
}

.footer .footer-element:not(:last-child){
	border-right: 1px solid;
}
/*flags*/
.usa{
	background: url("Images/flag-400.png") center no-repeat;
	background-size: contain;
}

.china{
	background: url("Images/flag-400 (1).png") center no-repeat;
	background-size: contain;
}

.eu{
	background: url("Images/eu.jpg") center no-repeat;
	background-size: contain;
}

.brazil{
	background: url("Images/flag-400 (2).png") center no-repeat;
	background-size: contain;
}

.peru{
	background: url("Images/flag-400 (3).png") center no-repeat;
	background-size: contain;
}

.canada{
	background: url("Images/canada-flag-icon-free-download.jpg") center no-repeat;
	background-size: contain;
}

.sweden{
	background: url("Images/flag-400 (4).png") center no-repeat;
	background-size: contain;
}

.poland{
	background: url("Images/flag-400 (5).png") center no-repeat;
	background-size: contain;
}

.argentina{
	background: url("Images/flag-400 (6).png") center no-repeat;
	background-size: contain;
}

.serbia{
	background: url("Images/images.png") center no-repeat;
	background-size: contain;
}

.cis{
	background: url("Images/cis.JPG") center no-repeat;
	background-size: contain;
}

.russia{
	background: url("Images/flag-400 (7).png") center no-repeat;
	background-size: contain;
}

.mongolia{
	background: url("Images/flag-800.png") center no-repeat;
	background-size: contain;
}

.bulgaria{
	background: url("Images/bulgaria-flag-icon-free-download.jpg") center no-repeat;
	background-size: contain;
}

.australia{
	background: url("Images/australia-flag-icon-free-download.jpg") center no-repeat;
	background-size: contain;
}

.philippines{
	background: url("Images/FIPHI-2__67447.1407859160.380.380.jpg") center no-repeat;
	background-size: contain;
}

.germany{
	background: url("Images/de-flag.jpg") center no-repeat;
	background-size: contain;
}

.malaysia{
	background: url("Images/500px-Flag_of_Malaysia.svg.png") center no-repeat;
	background-size: contain;
}

.ukraine{
	background: url("Images/41KUrmBIIFL._SX425_.jpg") center no-repeat;
	background-size: contain;
}

.denmark{
	background: url("Images/denmark-flag.png") center no-repeat;
	background-size: contain;
}

.france{
	background: url("Images/255px-Flag_of_France.svg.png") center no-repeat;
	background-size: contain;
}

.turkey{
	background: url("Images/220px-Flag_of_Turkey.svg.png") center no-repeat;
	background-size: contain;
}

.korea{
	background: url("Images/kr.png") center no-repeat;
	background-size: contain;
}

.netherlands{
	background: url("Images/2982-004-ABEB3852.jpg") center no-repeat;
	background-size: contain;
}

.finland{
	background: url("Images/finland-flag.png") center no-repeat;
	background-size: contain;
}

.mexico{
	background: url("Images/800px-Flag_of_Mexico_(1916-1934).svg.png") center no-repeat;
	background-size: contain;
}



/*teams*/
.virtus-pro{
	background: url("Images/69726.6-e1506633333708.jpg") center no-repeat;
	background-size: cover;
}

.astralis{
	background: url("Images/flat800x800075f_u2.jpg") center no-repeat;
	background-size: cover;
}

.maru{
	background: url("Images/maru5.jpg") center no-repeat;
	background-size: cover;
}

#toTop{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  height: 60px;
  width: 60px; 
  border-radius: 50%;
  transition: 0.25;
  background: url("Images/app-1646212_960_720.png") center no-repeat;
  background-size: contain;
  border-color: black;
}

/*modal*/
.modal{
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0,0.8);

}

.modal-content{
	background-color: gray;
	margin: 15% auto;
	padding: 20px;
	border: 1px black;
	width: 20%;
	position: relative;
}

.modal-content div{
	margin-bottom: 10px;
}

.modal-content input, button{
	width: 100%;
	margin: 5px;
}

.close{
	position: absolute;
	right: 2px;
	top: 2px;
	color: red;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}


@media screen and (min-width: 1024px) {
	.menuList{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.modal-content{
		width: 20%;
	}
}

@media only screen and (max-width: 992px) {
	.menuList{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	#toTop{
		bottom: 5px;
		right: 5px;
		width: 40px;
		height: 40px;	
	}
	.modal-content{
		width: 20%;
	}
}
@media only screen and (max-width: 767px) {
	.sponsors {
		display: none;
	}
	.menuList{
		display: none;
		flex-direction: column;
		justify-content: space-around;
	}
	.arrows{
		width: 15px;
   		height: 15px;
	}
	.rank-entity{
		font-size: 11pt;
	}
	.team-prev{
		font-size: 11pt;
		margin-top: 140px;
	}
	.rank-team{
		font-size: 9pt;
	}
	#toTop{
		bottom: 5px;
		right: 5px;
		width: 20px;
		height: 20px;	
	}
	.arrows:hover{
   		width: 20px;
    	height: 20px;
	}
	.modal-content{
		width: 100%;
	}
}
@media only screen and (max-width: 576px) {
	.menuList{
		display: none;
		flex-direction: column;
		justify-content: space-around;
	}
	.arrows{
		width: 10px;
   		height: 10px;
	}
	#toTop{
		bottom: 5px;
		right: 5px;
		width: 30px;
		height: 30px;	
	}
	.arrows:hover{
   		width: 15px;
   	 	height: 15px;
	}
	.modal-content{
		width: 100%;
	}
}