*{
	box-sizing: border-box;
}

body{
	background: url("Images/WHDQ-512499480.jpg") no-repeat;
	background-size: cover;
}

@import url("fontello.css") print;

@font-face {
  font-family: 'fontello';
  src: url('Fonts/fontello.eot?64809578');
  src: url('Fonts/fontello.eot?64809578#iefix') format('embedded-opentype'),
       url('Fonts/fontello.woff2?64809578') format('woff2'),
       url('Fonts/fontello.woff?64809578') format('woff'),
       url('Fonts/fontello.ttf?64809578') format('truetype'),
       url('Fonts/fontello.svg?64809578#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

div.border{
	border: solid black;
	border-width: 1px;
}
/*header*/
.topBar{
	height: 200px;
	background-color: #F7F7F7;
}

#logo{
	height: 180px;
	width: 180px;
	padding: 10px;
	background:url("Images/Team_Liquid_logo.png") center no-repeat; 
	background-size: contain;                          
    cursor:pointer; 
}
/*sponsors in header*/
.widesponsor{
	height: 40px;
	width: 150px;
	cursor: pointer;
}
/*sponsors*/
.narrowsponsor{
	height: 100px;
	width: 100px;
	cursor: pointer;
}

#alienware{
	background:url("Images/AlienWare_logo.png") center no-repeat; 
	background-size: contain;                         
}

#hyperx{
	background:url("Images/1510679196_HyperX.png") center no-repeat;
	background-size: contain;  
}

#sap{
	background:url("Images/sap.png") center no-repeat;  
	background-size: contain;  
}

#twitch{
	background:url("Images/2000px-Twitch_logo_(wordmark_only).svg.png") center no-repeat;  
	background-size: contain;
}

#ballistix{
	background:url("Images/19777-1505833888-020b2ed1373222ecdcbad94d37dc9050.png") center no-repeat;  
	background-size: contain;
}

#needforseat{
	background:url("Images/NEEDforSEAT_new_websiteG2-478-200.png") center no-repeat;  
	background-size: contain;
}

#youtube{
	background:url("Images/youtube_PNG18.png") center no-repeat;  
	background-size: contain;
}

#facebook{
	background:url("Images/facebook_logos_PNG19753.png") center no-repeat;  
	background-size: contain;
}

#twitter{
	background:url("Images/twitter_PNG28.png") center no-repeat;  
	background-size: contain;
}

#vk{
	background:url("Images/VK_Logo.png") center no-repeat;  
	background-size: contain;
}

#insta{
	background:url("Images/insta.png") center no-repeat;  
	background-size: contain;
}

#steam{
	background:url("Images/886a6d6d.png") center no-repeat;  
	background-size: contain;
}

/*top menu*/
div.menu{
	background-color: #0E2240;
}

ul.menulist{
	list-style-type: none;
}

ul.menulist li{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 10px;
	color: #F7F7F7;
}

ul.menulist li:hover{
	color: black;
	cursor: pointer;
}
/*main content*/
div.content{
	height: 100%;
}

/*main content*/
.rank-content{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
}
/*rank bar*/
.rank-wrap a{
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
}

.rank-wrap h2{
	margin-left: 5px;
	margin-top: 5px;
}

.bordur{
	border: 1px solid white;
}

.rank-wrap{
	background-color: #0E2240;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.icon-up-small{
	float: right;
}

.flag{
	display: inline-block;
	height: inherit;
	width: 30px;
	margin-right: 10px;
}
/*footer*/
.footer{
	background-color: #101010;
	font-size: 10pt;
	font-weight: 200;
}

.footer .footer-element:not(:last-child){
	border-right: 1px solid;
}
/*flags*/
.usa{
	background: url("Images/flag-400.png") center no-repeat;
	background-size: contain;
}

.china{
	background: url("Images/flag-400 (1).png") center no-repeat;
	background-size: contain;
}

.eu{
	background: url("Images/eu.jpg") center no-repeat;
	background-size: contain;
}

.brazil{
	background: url("Images/flag-400 (2).png") center no-repeat;
	background-size: contain;
}

.peru{
	background: url("Images/flag-400 (3).png") center no-repeat;
	background-size: contain;
}

.canada{
	background: url("Images/canada-flag-icon-free-download.jpg") center no-repeat;
	background-size: contain;
}

.sweden{
	background: url("Images/flag-400 (4).png") center no-repeat;
	background-size: contain;
}

.poland{
	background: url("Images/flag-400 (5).png") center no-repeat;
	background-size: contain;
}

.argentina{
	background: url("Images/flag-400 (6).png") center no-repeat;
	background-size: contain;
}

.serbia{
	background: url("Images/images.png") center no-repeat;
	background-size: contain;
}

.cis{
	background: url("Images/cis.JPG") center no-repeat;
	background-size: contain;
}

.russia{
	background: url("Images/flag-400 (7).png") center no-repeat;
	background-size: contain;
}

.mongolia{
	background: url("Images/flag-800.png") center no-repeat;
	background-size: contain;
}

.bulgaria{
	background: url("Images/bulgaria-flag-icon-free-download.jpg") center no-repeat;
	background-size: contain;
}

.australia{
	background: url("Images/australia-flag-icon-free-download.jpg") center no-repeat;
	background-size: contain;
}

.philippines{
	background: url("Images/FIPHI-2__67447.1407859160.380.380.jpg") center no-repeat;
	background-size: contain;
}

.malaysia{
	background: url("Images/500px-Flag_of_Malaysia.svg.png") center no-repeat;
	background-size: contain;
}

.ukraine{
	background: url("Images/41KUrmBIIFL._SX425_.jpg") center no-repeat;
	background-size: contain;
}