body{
	background: url("Images/craig-peacock-team-liquid.jpg");
}

.topBar{
	height: 200px;
	background-color: #24262C;
	background-image: url("Images/Team_Liquid_logo.png");
	background-repeat: no-repeat;
	background-position: left center;
}

#logo{
	background: url("Images/Team_Liquid_logo.png");
}